.chat-popup{
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 400px;
    height:500px;
    background: linear-gradient(to bottom, #007bff, #f5f5f5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #007bff #f5f5f5
}

.chat-popup ::-webkit-scrollbar{
    width:8px;
}

.chat-popup::-webkit-scrollbar-thumb{
    background-color: #007bff;
    border-radius: 10px;
}

.chat-popup::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}

.chat-header-text p {
    margin: 10px 0 20px;
    font-size: 14px;
    color: white;
}

.message-box{
    display:flex;
    flex-direction: column;
    gap:10px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.message-item:hover{
    transform: scale(1.05);
}

.chat-footer {
    display: flex;
    justify-content: space;
}